/* CSS styles for the todo app  */

/* makes the title red */
h1 {
  color: red;
}

/* shows completed todos with a strikethrough in grayshows completed todos with a strikethrough in gray */
.completed {
  color: gray;
  text-decoration: line-through;
}
